#home {
  padding: 0;
  #banner {
    text-align: center;
    border-bottom: var(--gray) 1px solid;
    color: var(--gray);
    padding: 20px;
  }

  .available-articles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
    .article {
      margin: 5px;
      border: 1px var(--gray) solid;
      border-radius: 5px;
      min-width: 200px;
      max-width: 300px;
      padding: 5px;
    }
  }
}