.create_btn {
  float: right;
  cursor: pointer;
}
.index_link {
  cursor: pointer;
}

.pagination {
  justify-content: center;

  span {
    cursor: pointer;
    font-size: 1.5em;
    margin: 0.2rem;

    &.inactive {
      cursor: default;
      color: #999;
    }
  }
}

label textarea {
  resize: both;
  min-width: 50vw;
}