@import "../../colors";

.model_form {
  margin: 0 0 2rem;

  #indicator-inactive,
  .inactive {
    color: $inactive;
  }
  #indicator-active,
  .active {
    color: $active;
  }
  #indicator-ready,
  .ready {
    color: $ready;
  }
}

#word_content_editor {
  width: 256px;
  height: 49px;
  position: relative;

  input {
    border: 0;
    background: transparent;
    color: transparent;
    caret-color: black;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &.disabled {
    background-color: #eceeef;
    opacity: 1;
    cursor: not-allowed;
  }
}

.exercise_content_editor {
  position: relative;
  height: 10em;
  max-width: 32.3em;
  z-index: 10;
  margin: 0 0 0.5em;

  > div {
    font-family: sans-serif;
  }

  textarea {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    position: absolute;
    padding: .75rem 1.5rem;
    background: transparent;
    color: transparent;
    caret-color: black;
    font-size: 1em;
    resize: none;

    &:disabled {
      background: transparent;
    }
  }

  > span {
    cursor: pointer;

    .word_editor_window {
      background: white;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: .25rem;
      max-width: 25em;
      color: black;
      position: absolute;
      padding: 15px;

      .close {
        position: absolute;
        top: 0;
        right: 5px;
      }

      .btn-danger {
        cursor: pointer;
        margin: 0 auto;
        display: block;
      }
    }
  }
}

.choices_editor {

  .choice_input_wrapper {
    display: flex;

    button {
      margin: 0 0 0 1em;
    }
  }

  .current_choices {
    display: flex;
    flex-wrap: wrap;
    max-width: 24em;
    padding: .25em;
    margin: 0.5em 0 0;
    min-height: 5em;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;

    > div {
      max-height: 2.25em;
      position: relative;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: .25rem;
      padding: .25em 1.25em .25em .25em;
      margin: .25em;

      .remove_handle {
        position: absolute;
        top: .1em;
        border: 1px solid rgba(0,0,0,.15);
        width: 1em;
        text-align: center;
        height: 1em;
        right: .1em;
        line-height: .75em;
        cursor: pointer;
      }
    }
  }
}