@import "../../colors";

.model_form {
  margin: 0 0 2rem;
  text-align: left;

  #indicator-inactive,
  .inactive {
    color: $inactive;
  }
  #indicator-active,
  .active {
    color: $active;
  }
  #indicator-ready,
  .ready {
    color: $ready;
  }

  .field {
    max-width: 40vw;
    select, label {
      width: 100%;
    }
  }
}