@import "colors";

form {
  text-align: center;
}

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page {
  padding: 20px 0;
}

footer {
  background: #f3f3f3;
  margin-top: 3rem;
  padding: 1rem 0;
  width: 100%;

  .attribution {
    padding: 5px;
  }
}